*.pyc
__pycache__/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.pytype/
.pyre/
.nox/
.tox/
.coverage
.coverage.*
coverage.xml
htmlcov/
.env
.env.local
.env.*
.python-version
.DS_Store
*.log
.logs/
.deployment/
venv/
env/
.venv/
.vscode/
.idea/
pip-wheel-metadata/
pip-log.txt
pip-delete-this-directory.txt
deployment-artifacts/
artifacts/
*.pem
*.key
